.header__logo{
  max-width: 142px;
  padding-bottom: 41px;
}

/* 991 */
@media screen and (max-width: 991px) {
  .header__logo {
    width: 103.74px;
    padding-left: 27px;
    padding-bottom: 31.6px;
  }
}
