.popup__image-caption{
  max-width: 291px;
  font-family:'Inter','Arial', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  text-align:left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

