.element__group-like{
  padding: 0;
  height: 19px;
  width: 22px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: var(--font-color-dark);
  background-image: url(../../../images/Group.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.element__group-like:hover{
  opacity: 0.5;
  transition: opacity 1s;
}
