.form__title{
  max-width: 330px;
  margin: 0;
  margin-right: 28px;
  font-family:'Inter','Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

/* 620 */
@media screen and (max-width: 620px) {
  .form__title {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }
}
